/*
 *= require foundation_and_overrides
 *= require fonts
 *= require bxslider-4
 */

.org-navigation{
  line-height:4.4em;
}

*{
  outline:0;
}


#employee-ul li p {
  padding-top:.5em;
  span{
    color: #bf2a1a;
  }
}
