@font-face {
    font-family: 'New Cicle Gordita';
    src: font-url('New_Cicle_Gordita-webfont.eot');
    src: font-url('New_Cicle_Gordita-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('New_Cicle_Gordita-webfont.woff') format('woff'),
         font-url('New_Cicle_Gordita-webfont.ttf') format('truetype'),
         font-url('New_Cicle_Gordita-webfont.svg#new_ciclegordita') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Days';
    src: font-url('Days-webfont.eot');
    src: font-url('Days-webfont.eot?#iefix') format('embedded-opentype'),
         font-url('Days-webfont.woff') format('woff'),
         font-url('Days-webfont.ttf') format('truetype'),
         font-url('Days-webfont.svg#daysregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
