@font-face {
    font-family: 'CircularStdBook';
    src: font-url('CircularStdBook.eot');
    src: font-url('CircularStdBook.eot?iefix') format('eot'),
        font-url('CircularStdBook.woff') format('woff'),
        font-url('CircularStdBook.ttf') format('truetype'),
        font-url('CircularStdBook.svg#webfont') format('svg');
}