- complete = false unless organization.commits[@year]
- complete = (organization.commits[@year][index+1].count == organization.users.count) if organization.commits[@year]
/ - na = false
/ - if complete
/   - if na
/     ul data-orbit=true data-options="timer=false;" id="slider-#{index}"
/       li
/         = image_tag 'http://placehold.it/460x460', class: 'th'
/         .orbit-caption
/           = 'N/A'
/   - else
/     ul data-orbit=true data-options="timer=false;" id="slider-#{index}"
/       - organization.users.each do |user|
/         li
/           = image_tag user.avatar_url
/           .orbit-caption
/             = user.login
/ - else
ul class="bxslider" id="slider-#{index}"
  - organization.users.each do |user|
    li
      = image_tag user.avatar_url, title: user.login
p = "#{sprintf '%02d', (index+1)} #{Date::MONTHNAMES[index+1]}"
